<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminMapper">
	<select id="selectAdminLogin" resultType="AdminDTO" parameterType="AdminDTO">
		SELECT 
				* 
		FROM 
				`ADMIN`
		WHERE 
				ADMIN_ID = #{adminId} AND PASSWD = #{passwd}
	</select>
	
	<select id="selectListMember" resultType="MemberDTO" >
		  SELECT  
    				*  
    	  FROM 
    				MEMBER 
	</select>
</mapper>